body{
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: 100vh;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 70%;
    margin-top: 30px;
}
nav{
    padding: 20px;
}
nav a{
    border: 1px solid gold;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    padding: 10px;
    color: gold;
}
nav a:hover{
    background-color: gold;
    color:white;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 30px;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: lightgrey;
}
section h1{
    margin-bottom: 30px; 
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-weight: bold;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 8px;
}
button{
    width: 150px;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}
