body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

section{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;   
}

#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#lista_presentes{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#lista_eventos{
    display: flex;
    flex-direction: column;
    width: 100%;
}

table{
    display: flex;
    flex-direction: column;
    width: 100%;
}
td{
    display: flex;
    flex-direction: row;
    width: 100%;
}


